<!DOCTYPE html>
<html>
<head>
    <title>{{ticker}} Analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="animated-background"></div>
    <div class="content-container">
        <h1>{{ticker}} Analysis</h1>
        <div id="graph-container">
            <div id="graph"></div>
        </div>
        <div class="accuracy-container">
            <div class="accuracy">The Model's predicted values were {{accuracy}}% off to the actual values!</div>
            <div class="value">Based on our Models, {{ticker}} appears to be {{strength}} {{value}}valued!</div>
        </div>
    </div>
    <script type="text/javascript">
        var graphs = {{ graphJSON|safe }};
        Plotly.newPlot('graph', graphs.data, graphs.layout);
    </script>
</body>
</html>
